.button {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    &_calc {
        position: relative;
        overflow: hidden;
        display: block;
        width: 230px;
        height: 57px;
        margin: 0 auto;
        margin-top: 36px;
        font-size: 15px;
        font-weight: 500;
        &::after {
            content: '';
            position: absolute;
            top: -50%;
            right: -50%;
            bottom: -50%;
            left: -50%;
            background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
            transform: rotateZ(55deg) translate(-10em, 12.5em);
            animation: sheen 9s linear infinite reverse;
        }
        @keyframes sheen {

            0% {
            transform: rotateZ(55deg) translate(1em, -12.5em);
            }
            5% {
            transform: rotateZ(55deg) translate(-10em, 12.5em);
            }
            100% {
            transform: rotateZ(55deg) translate(-10em, 12.5em);
            }
        }

    }
    &_m0 {
        display: block;
        margin: 0 auto;
    }
    &_small {
        position: absolute;
        top: 225px;
        &:hover {
            background-color: #dc5238;
        }
    }
    &_border {
        width: 180px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 63px;
        box-shadow: 0 0 0 16px #fff;
    }
    &_hidden {
        display: none;
    }
}
