.button {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    &_calc {
        display: block;
        width: 230px;
        height: 57px;
        margin: 0 auto;
        margin-top: 36px;
        font-size: 15px;
        font-weight: 500;
    }
    &_small {
        position: absolute;
        top: 225px;
        &:hover {
            background-color: #dc5238;
        }
    }
    &_border {
        width: 180px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 63px;
        box-shadow: 0 0 0 16px #fff;
    }
}