.header {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    &__row {
    position: relative;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        &-fixed {
            width: 1140px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__fixed {
        width: 100%;
        padding: 5px 0;
        position: fixed;
        background-color: rgba($color: #000000, $alpha: .9);
        box-shadow: 0 4px 10px 0 rgba($color: #000000, $alpha: .7);
        top: 0;
        display: flex;
        z-index: 4;
    }
    &__menu {
        padding: 0;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-right: 40px;
        list-style-type: none;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
    }
    &__item {
        border-right: 1px dotted;
        padding: 0 14px;
        color: rgba($color: #fff, $alpha: 0.4);
        &:last-child {
            border-right: none;
        } 
        &-links {
            color: #fff;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__logo-small {
        img {
            width: 70px;
            height: 70px;
        }
    }
    &__icon {
        display: none;
        img {
            width: 60px;
        }
    }
}
