.manager {
    padding: 58px 0 75px 0;
    min-height: 342px;
    background: url('../img/manager.jpg') center (center/cover) no-repeat;
    &__block  {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__round {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        border: 1.0px solid #fff;
        border-radius: 100%
    }
}