@media (max-width: 1204px) {
	.promo {
		&__header {
			font-size: 62px;
		}
		&__global {
			font-size: 23px;
		}
		&__subheader {
			font-size: 35px;
		}
		&__dscr {
			font-size: 14px;
		}
		.button {
			width: 215px;
   			height: 53px;
		}
	}
	.header {
		left: 50%;
		&__row {
			width: 991px;
			justify-content: center;
			&-fixed {
				width: 957px;
				.button {
					width: 140px;
					height: 40px;
					font-size: 11px;
				}
				.contacts {
					margin-right: 10px;
					&__number {
						font-size: 15px;
						line-height: 19px;
					}
				}
			}
			.contacts {
				margin-right: 10px;
				&__number {
					font-size: 15px;
					line-height: 19px;
				}
			}
			.button {
				width: 140px;
				height: 40px;
				font-size: 11px;
			}
		}
		&__logo {
			img {
				width: 80px;
			}
		}
		&__item {
			&-links {
				font-size: 12px;
			}
		}
	}
	.work {
		&__block {
			width: 300px;
		}
	}
	.footer {
		padding: 20px 0;
		height: auto;
		&__slogan {
			font-size: 14px;
		}
		&__logo {
			width: 70px;
		}
		&__number {
			font-size: 16px;
		}
		.button {
			width: 150px;
    		height: 40px;
		}
		&__ask {
			font-size: 13px;
   			line-height: 17px;
		}
	}
	.title {
		font-size: 24px;
	}
	.subtitle {
		font-size: 18px;
	}
}

@media (max-width: 991px) {
	.header {
		&__row {
			width: 765px;
			justify-content: center;
			&-fixed {
				width: 739px;
				justify-content: center;
				.button {
					display: none;
				}
				.contacts {
					margin-left: 24px;
					margin-right: 5px;
					&__ask {
						font-size: 13px;
					}
					&__number {
						font-size: 14px;
					}
				}
			}
		}
		&__menu {
			margin-right: auto;
		}
		&__item {
			padding: 0px 7px;
		}
		&__logo {
			img {
				width: 70px;
			}
		}
		.contacts {
			margin-left: 24px;
			margin-right: 5px;
			&__ask {
				font-size: 13px;
			}
			&__number {
				font-size: 14px;
			}
		}
		.button {
			display: none;
		}
		&__icon {
			display: block;
		}
	}
	.promo {
		&__header {
			font-size: 53px;
		}
		&__subheader {
			font-size: 30px;
		}
		&__global {
			font-size: 19px;
		}
		&__dscr {
			font-size: 14px;
			text-align: center;
		}
		&__items {
			max-width: 250px;
		}
		&__wrapper {
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
		.button {
			width: 170px;
			height: 46px;
			font-size: 13px;
		}
	}

	.work {
		&__block {
			width: 230px;
		}
	}
	.agent {
		&__round {
			width: 98px;
    		height: 98px;
		}
	}

	.prices {
		&__wrapper {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			&-head {
				font-size: 14px;
			}
			&-delivery {
				font-size: 13px;
				span {
					font-size: 21px;
				}
			}
			&-dscr {
				font-size: 13px;
			}
			&:nth-last-child(-n + 2) {
				margin-top: 20px;
			}
		}
	}

	.title {
		font-size: 23px;
		&__work {
			font-size: 14px;
		}
	}
	.subtitle {
		font-size: 17px;
	}
	.button_small {
		top: 235px;
		width: 144px;
		height: 37px;
	}
	.button_border {
		width: 144px;
		height: 37px;
		font-size: 11px;
	}
	.forms {
		input {
			width: 200px;
    		font-size: 13px;
		}
		
	}
	.consultation {
		&__frame {
			min-height: 166px;
		}
		&__round {
			width: 96px;
    		height: 95px;
		}
	}
	.manager {
		&__round {
			width: 98px;
    		height: 98px;
		}
	}
	.questions {
		&__item {
			width: 100%;
		}
	}
	.footer {
		.button {
			width: 125px;
			height: 41px;
			font-size: 10px;
		}
	}
}

@media (max-width: 767px) {
	.header {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		&__menu {
			position: fixed;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			top: 0;
			left: -100%;
			width: 50%;
			height: 100%;
			padding: 20px 15px;
			background-color:rgba($color: #f3f3f3, $alpha: .9);
			transition: 0.6s all;
			z-index: 4;
			.vissiable {
				display: block;
			}
			li {
				.hidden {
					display: none;
				}
			}
			
		}
		&_active {
			left: 0;
		}
		&__item {
			width: 100%;
			text-align: center;
			border: none;
			margin-bottom: 10px;
			&-links {
				display: block;
				font-size: 18px;
				color: black;
				&:hover {
					color: black;
					text-decoration: none;
				}
			}
		}
		&__logo {
			display: none;
		}
		.contacts {
			display: none;
		}
		&__icon {
			display: none;
		}
		&__icons {
			display: flex;
		}
	}
	.promo {
		padding: 20px 0 82px 0;
		&__header {
			font-size: 43px;
		}
		&__subheader {
			font-size: 26px;
		}
		&__logo {
			display: block;
		}
		&__global {
			display: flex;
			flex-direction: row;
			font-size: 17px;
			align-items: center;
			justify-content: center;
			img {
				display: block;
				width: 50px;
				margin-right: 10px;
			}
		}
		&__wrapper {
			width: 80%;
			flex-wrap: wrap;
			margin: 0 auto;
		}
		&__items {
			max-width: 183px;
		}
		.hamburger {
			display: block;
			position: fixed;
			right: 20px;
			top: 20px;
			transform: translateY(-50%);
			width: 30px;
			span {
				display: block;
				height: 2px;
				width: 100%;
				background-color: $main-color;
				margin-bottom: 3px;
				transition: .5s all;
			}
			&_active {
				span {
					margin-bottom: -2px;
					&:first-child {
						transform: translateY(3px) rotate(-45deg);
					}
					&:nth-child(2) {
						display: none;
					}
					&:last-child {
						transform: translateY(3px) rotate(45deg);
					}
				}
			}
		}
	}
	.work {
		&__wrapper {
			flex-wrap: wrap;
		}
		&__block {
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	.agent {
		&__round {
			width: 81px;
			height: 81px;
		}
	}
	.consultation {
		&__frame {
			padding: 0 0 40px 0;
			width: 77%;
			height: auto;
		}
	}
	.feed {
		&__slider {
			width: 100%;
		}
	}
	.questions {
		&__item {
			width: 80%;
		}
	}
	.forms {
		width: 100%;
		flex-direction: column;
		input {
			width: 70%;
			margin: 3px auto;
		}
		&_question {
			input {
				width: 80%;
				&:nth-child(n + 1) {
					margin-top: 10px;
				}
				&:nth-child(4) {
					width: 80%;
				}
			}
		}
	}
	.footer {
		&__slogan {
			font-size: 12px;
		}
		&__number {
			font-size: 12px;
		}
		.button {
			width: 120px;
			font-size: 11px;
		}
		&__logo {
			width: 50px;
		}
		&__firm {
			font-size: 12px;
		}
		&__policy {
			font-size: 12px;
		}
	}
	.pageUp {
		right: -57px;
		bottom: 14px;
	}
	.modal__forms {
		input {
			width: 100%;
		}
	}
}
@media (max-width: 575px) {
	.button {
		&_calc {
			height: 20px;
		}
	}
	.promo {
		&__divider {
			.round {
				width: 7px;
				height: 7px;
			}
		}
		&__header {
			font-size: 39px;
		}
		&__subheader {
			font-size: 22px;
		}
		&__global {
			font-size: 14px;
			img {
				width: 45px;
				margin-right: 5px;
			}
		}
		&__items {
			max-width: 201px;
		}
		&__dscr {
			font-size: 13px;
		}
		.button {
			width: 158px;
			height: 42px;
			font-size: 12px;
		}
	}
	.scheme {
		&__items {
			width: 230px;
		}
		&__dscr {
			font-size: 13px;
		}
	}
	.feed {
		&__slider {
			div {
				img {
					width: 106px;
    				height: 106px;
				}
			}
		}
		.slick-next, .slick-prev {
			img {
                width: 12px;
                height: 42px;
            }
		} 
	}
	.questions {
		.item__head-title {
			font-size: 17px;
		}
		.item__head-sub {
			font-size: 13px;
		}
	}
	.button {
		width: 158px;
		height: 42px;
		font-size: 12px;
		&_small {
			width: 130px;
    		height: 36px;
		}
		&_border {
			width: 141px;
		}
	}
	.text {
		font-size: 13px;
	}
	.title {
		font-size: 21px;
		&__work {
			font-size: 13px;
		}
		&__orange {
			font-size: 15px;
		}
	}
	.subtitle {
		font-size: 16px;
	}

}
@media(max-width: 426px) {
	.promo {
		&__header {
			font-size: 33px;
		}
		&__subheader {
			font-size: 20px;
		}
	}
	.work {
		&__block {
			width: 260px;
		}
	}
	.consultation {
		&__frame {
			.forms {
				input {
					width: 80%;
				}
			}
		}
		&__round {
			width: 90px;
			height: 90px;
		}
	}
	.feed {
		.slick-next, .slick-prev {
			img {
                display: none;
            }
		} 
	}
	.questions {
		&__item {
			&-block {
				padding: 18px 0 18px 0;
			}
		}
	}
	.footer {
		&__slogan {
			display: none;
		}
		.wrapper_up-left {
			width: auto;
		}
		.wrapper_up-right {
			width: auto;
		}
		.button {
			font-size: 10px;
			width: 110px;
		}
	}
	.title {
		font-size: 20px;
	}
}