.modal {
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    padding: 40px 40px 20px 40px;
    width: auto;
    height: auto;
    z-index: 5;
    border: 1px solid #898989;
    border-color: rgba($color: #898989, $alpha: .5);
    border-radius: 30px;
    background-color: rgba($color: #fff, $alpha: .7);
    .button {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: 33px;
    }
    .close {
        display: block;
        position: absolute;
        font-size: 30px;
        right: 15px;
        top: 8px;
        cursor: pointer;
        z-index: 10;
    }
}
.flex {
    display: flex;
}