.title {
    font-size: 26px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    text-align: center;
    &__orange {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: $main-color;
    }
    &__work {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: $main-color;
        margin-top: 28px;
        margin-bottom: 14px;
    }
    &__white {
        margin-top: 20px;
        color: #ffffff;
    }
    &__consul {
        font-family: Roboto;
        font-size: 28px;
        line-height: 23px;
        font-weight: 500;
        color: #3a3a3a;
        text-transform: none;
    }
}
.subtitle {
    display: block;
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    color: #2e2e2e;
    text-align: center;
    
    &__white {
        padding: 0;
        margin-top: 18px;
        font-size: 19px;
        font-weight: 300;
        color: #ffffff;
    }
}