.wrapper {
    display: flex;
    flex-direction: column;
    &_up {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-left {
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        &-right {
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &_down {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-left {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    hr {
        width: 1140px;
        background-color: #fff;
        height: 1px;
        opacity: .3;
    }
}